# AISWARYA JEYABRINDA S (811519104007)

###  Exercises

#### Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

##### 1.What is 7 to the power of 4?

In [1]:
7**4

2401

##### 2. Split this string: </br> s = "Hi there Sam!"</br>into a list.

In [2]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

##### 3. Given the variables:</br>planet = "Earth"</br>diameter = 12742</br>Use .format() to print the following string:</br>The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [5]:
"The diameter of {} is {} kilometers".format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

##### Given this nested list, use indexing to grab the word "hello" </br> lst  = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [19]:
lst[3][1][2][0]

'hello'

##### Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [20]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [21]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

##### What is the main difference between a tuple and a list?

TUPLE
</br>
.Immutable
</br>
.represent in round bracket()
</br>

LIST(Collection of Values)
</br>
.Mutable
</br>
.represent in square bracket[]

##### Create a function that grabs the email website domain from a string in the form:</br>user@domain.com</br>So for example, passing "user@domain.com" would return: domain.com

In [22]:
def domainGet(email):
    return email.split('@')[-1]

In [23]:
domainGet('user@domain.com')

'domain.com'

##### Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [30]:
def findtheDog(st):
    return 'dog' in st.lower().split()

In [31]:
findtheDog('Is there a dog here?')

True

##### Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [32]:
def Dogcount(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [33]:
Dogcount('This dog runs faster than the other dog dude!')

2

##### Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:</br>seq = ['soup','dog','salad','cat','great']</br>should be filtered down to:</br>['soup','salad']

In [34]:
seq = ['soup','dog','salad','cat','great']

In [35]:
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

##### You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [36]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [37]:
caught_speeding(81,True)

'Small Ticket'

In [38]:
caught_speeding(81,False)

'Big Ticket'

##### Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [40]:
hoursWorked = 50
wage = 100

def weeklyPaid(hoursWorked, wage):
    if hoursWorked > 40:
        return 40 * wage + (hoursWorked - 40) * wage * 1.5
    else:
        return hoursWorked * wage

weeklyPaid(hoursWorked, wage)

5500.0

##### Create two dictionaries in Python:</br>First one to contain fields as Empid, Empname, Basicpay</br>Second dictionary to contain fields as DeptName, DeptId.</br>Combine both dictionaries

In [42]:
dict1={'Empid':1,'Empname' :'Aiswarya','Basicpay' :100000}
dict2={'DeptName' : 'CSE','DeptId'  : 207}

In [44]:
dict1.update(dict2)

In [45]:
dict1

{'Empid': 1,
 'Empname': 'Aiswarya',
 'Basicpay': 100000,
 'DeptName': 'CSE',
 'DeptId': 207}